  <div class="banner">
    <h1>REVELEZ <br>
      VOTRE <br> POTENTIEL</h1>
      <button type="button" class="btn btn-success btn-lg btn-banner">Contactez-moi</button>
    </div>

    <div class="presentation">
      <div class="img-description">
       <%= image_tag('imgalexandre.jpg') %>
     </div>
     <div class="txt-description">
       <h1>QUI JE SUIS :</h1>
       <p> “J’ai le plaisir, depuis onze ans, d’accompagner mes clients de tous horizons professionnels et sportifs jusqu’à l’aboutissement de leurs objectifs en matière de forme et de santé. Mon approche propose à mes clients une philosophie sportive du corps, de l’esprit et de l’alimentation, adaptée à leur quotidien. Que la cible soit la perte de poids, le renforcement musculaire ou encore une échéance compétitive, je mets en place dès les premiers rendez-vous un programme sur mesure pour des résultats visibles et rapides.”</p>
     </div>
   </div>

   <div class="methode">
    <div class="card-method">
      <h2>FITNESS</h2>
      <p>Perte de poids <br>
        Prise de muscle <br>
        Sculpture de la sihouette <br>
      Bien-être senior</p>
    </div>

    <div class="card-method">
      <h2>NUTRITION</h2>
      <p>Analyse des habitudes<br>
        Conseils en nutrition <br>
        Mise en place corrective <br></p>
      </div>

      <div class="card-method">
        <h2>MOTIVATION</h2>
        <p>Accompagnement quotidien <br>
          Conseils en motivation <br>
          Suivi des progrès <br>
          Préparation des échéances sportives <br></p>
        </div>
      </div>
    </div>

    <div class="container reviews">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-slider" class="owl-carousel">

           <div class="testimonial">
            <div class="testimonial-content">
              <p>“J’avais arrêté le sport après mes études bien que j’avais une salle de sport en bas de chez moi. Maintenant qu’Alex sonne chez moi, plus le choix.”
              </p>
            </div>
            <div class="testimonial-info">
              <div class="pic">
                <%= image_tag('temoignagemarie.jpg') %>
              </div>
              <h3 class="testimonial-title">
                <a href="#">Marie HDK, juriste.</a>
              </h3>
            </div>
          </div>

          <div class="testimonial">
            <div class="testimonial-content">
              <p>“Je suis le programme d’Alex depuis presque 2 ans et je vois très nettement les résultats !” <br><br>
              </p>
            </div>
            <div class="testimonial-info">
              <div class="pic">
               <%= image_tag('temoignageguillaume.jpg') %>
             </div>
             <h3 class="testimonial-title">
              <a href="#">Guillaume P, intervenant pédagogique</a>
            </h3>
          </div>
        </div>

        <div class="testimonial">
          <div class="testimonial-content">
            <p>“Avec le pro et la vie de parent, je n’avais jamais la motivation. J’ai choisi la formule 7h30 à 9h je suis au bureau après ma séance”
            </p>
          </div>
          <div class="testimonial-info">
            <div class="pic">
             <%= image_tag('temoignageboris.png') %>
           </div>
           <h3 class="testimonial-title">
            <a href="#">Boris B, CEO Fixo</a>
          </h3>
        </div>
      </div>

      <div class="testimonial">
        <div class="testimonial-content">
          <p>“Le sport est une obligation professionnelle dans mon milieu mais les tests spécifiques restent une épreuve. Alex m’a aidé dans ma programmation.”
          </p>
        </div>
        <div class="testimonial-info">
          <div class="pic">
            <%= image_tag('temoignageben.png') %>
          </div>
          <h3 class="testimonial-title">
            <a href="#">Ben N, garde du corps.</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script>
  $(document).ready(function(){
    $("#testimonial-slider").owlCarousel({
      items:2,
      itemsDesktop:[1000,2],
      itemsDesktopSmall:[979,2],
      itemsTablet:[768,1],
      pagination:true,
      navigation:false,
      slideSpeed:1000,
      singleItem:false,
      navigationText:["",""],
      autoPlay:true
    });
  });
</script>

<div class="pricing">

  <div class="coaching">
      <h2>COACHING PRIVE<br> (1-3 personnes)</h2>
    <div class="img-pricing-perso">
      <p>Coaching d’une heure par session <br>
      Conseil nutritionnel sur demande <br>
      Soutien au quotidien <br>
      Maximum 3 personnes <br>
      Français/Anglais parlé <br>
      50% déductible des impôts<br><br></p>
    </div>
     <h2>80€/sessions</br>350€/5 sessions</br>250€/abo mensuel</h2>
  </div>

  <div class="coaching">
    <div class="coaching-groupe">
      <h2>COACHING GROUPE<br> (3-10 personnes)</h2>
    <div class="img-coaching-perso">
      <p>Coaching d’une heure par session</br>
        Conseil nutritionnel sur demande</br>
        Avec ou sans matériel</br>
        Tous espaces (ex : salle réunion)
        Maximum 10 personnes</br>
        Français/Anglais parlé</br><br></p>
    </div>
     <h2>100€/sessions</br>450€/5 sessions</br>380€/abo mensuel</h2>
  </div>
  </div>
</div>
<!-- ------------------------- -->



</div>
</div>

