<div class="banner">
  <div class="txtbanner">
    <h1>REVELEZ <br>
      VOTRE <br> POTENTIEL</h1>
      <button type="button" class="btn btn-success btn-lg btn-banner">Contactez-moi</button>
  </div>
</div>

    <div class="container presentation">
      <div class="img-description">
       <%= image_tag('imgalexandre.jpg') %>
     </div>
     <div class="txt-description">
       <h1>QUI JE SUIS :</h1>
       <p> “J’ai le plaisir, depuis onze ans, d’accompagner mes clients de tous horizons professionnels et sportifs jusqu’à l’aboutissement de leurs objectifs en matière de forme et de santé. Mon approche propose à mes clients une philosophie sportive du corps, de l’esprit et de l’alimentation, adaptée à leur quotidien. Que la cible soit la perte de poids, le renforcement musculaire ou encore une échéance compétitive, je mets en place dès les premiers rendez-vous un programme sur mesure pour des résultats visibles et rapides.”</p>
     </div>
   </div>

   <div class="methode">
    <div class="card-method">
      <h2>FITNESS</h2>
      <p>Perte de poids <br>
        Prise de muscle <br>
        Sculpture de la sihouette <br>
      Bien-être senior</p>
    </div>

    <div class="card-method">
      <h2>NUTRITION</h2>
      <p>Analyse des habitudes<br>
        Conseils en nutrition <br>
        Mise en place corrective <br></p>
      </div>

      <div class="card-method">
        <h2>MOTIVATION</h2>
        <p>Accompagnement quotidien <br>
          Conseils en motivation <br>
          Suivi des progrès <br>
          Préparation des échéances sportives <br></p>
        </div>
      </div>
    </div>

    <div class="container reviews">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-slider" class="owl-carousel">

           <div class="testimonial">
            <div class="testimonial-content">
              <p>“J’avais arrêté le sport après mes études bien que j’avais une salle de sport en bas de chez moi. Maintenant qu’Alex sonne chez moi, plus le choix.”
              </p>
            </div>
            <div class="testimonial-info">
              <div class="pic">
                <%= image_tag('temoignagemarie.jpg') %>
              </div>
              <h3 class="testimonial-title">
                <a href="#">Marie HDK, juriste.</a>
              </h3>
            </div>
          </div>

          <div class="testimonial">
            <div class="testimonial-content">
              <p>“Je suis le programme d’Alex depuis presque 2 ans et je vois très nettement les résultats !” <br><br>
              </p>
            </div>
            <div class="testimonial-info">
              <div class="pic">
               <%= image_tag('temoignageguillaume.jpg') %>
             </div>
             <h3 class="testimonial-title">
              <a href="#">Guillaume P, intervenant pédagogique</a>
            </h3>
          </div>
        </div>

        <div class="testimonial">
          <div class="testimonial-content">
            <p>“Avec le pro et la vie de parent, je n’avais jamais la motivation. J’ai choisi la formule 7h30 à 9h je suis au bureau après ma séance”
            </p>
          </div>
          <div class="testimonial-info">
            <div class="pic">
             <%= image_tag('temoignageboris.png') %>
           </div>
           <h3 class="testimonial-title">
            <a href="#">Boris B, CEO Fixo</a>
          </h3>
        </div>
      </div>

      <div class="testimonial">
        <div class="testimonial-content">
          <p>“Le sport est une obligation professionnelle dans mon milieu mais les tests spécifiques restent une épreuve. Alex m’a aidé dans ma programmation.”
          </p>
        </div>
        <div class="testimonial-info">
          <div class="pic">
            <%= image_tag('temoignageben.png') %>
          </div>
          <h3 class="testimonial-title">
            <a href="#">Ben N, garde du corps.</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script>
  $(document).ready(function(){
    $("#testimonial-slider").owlCarousel({
      items:2,
      itemsDesktop:[1000,2],
      itemsDesktopSmall:[979,2],
      itemsTablet:[768,1],
      pagination:true,
      navigation:false,
      slideSpeed:1000,
      singleItem:false,
      navigationText:["",""],
      autoPlay:true
    });
  });
</script>
<!-- ------------------------- -->
<div class="container">
  <div class="row">
    <div class="pricing">
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1518617840859-acd542e13a99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2449&q=80">
        <div class="card-trip-infos">
          <div>
            <h2>COACHING PRIVE</h2>
            <br>
            <p> Coaching d’une heure par session</br>
                En extérieur ou à domicile <br>
                Avec ou sans matériel</br>
                Secteurs Paris, 78, 92<br>
                Maximum 3 personnes <br>
                50% déductible des impôts<br>Conseil nutritionnel sur demande <br>
                Cours en Français ou Anglais</br>
                <br>
              </p>
          </div>
          <h2 class="card-trip-pricing">
                80€ / sessions</br>
                350€ / 5 sessions</br>
                250€ / abo mensuel</h2>
        </div>
      </div>
    <!-- ------------------------- -->
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1518310383802-640c2de311b2?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80">
    <!--     <i class="fas fa-users"></i> -->
        <div class="card-trip-infos">
          <div>
            <h2>COACHING GROUPE</h2>
            <br>
            <p>Coaching d’une heure par session</br>
            En extérieur ou à domicile <br>
            Avec ou sans matériel</br>
            Secteurs Paris, 78, 92<br>
            Maximum 10 personnes</br>
            Conseil nutritionnel sur demande <br>
            Cours en Français ou Anglais</br><br><br>
            </p>
          </div>
          <h2 class="card-trip-pricing">
            100€/sessions</br>
            450€/5 sessions</br>
            380€/abo mensuel <br></h2>
        </div>
      </div>
    <!-- ------------------------- -->
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80">
        <div class="card-trip-infos">
          <div>
            <h2>COACHING A DISTANCE</h2>
            <br>
            <p>
            Programme mensuel</br>
            En salle/domicile/extérieur</br>
            Conseil nutritionnel sur demande</br>
            Avec ou sans matériel</br>
            10 mails ou 1h appel/mois</br>
            Programme en Français ou Anglais</br></br></br></br>
            </p>
          </div>
          <h2 class="card-trip-pricing">
          80€/sessions</br>
          350€/5 sessions</br>
          250€/abo mensuel</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ------------------------- -->
<form id="fs-frm" name="complaint-form" accept-charset="utf-8" action="https://formspree.io/auriol.alexandre@gmail.com" method="post"> <p>Pour me contacter, c'est par ici :</p>
  <fieldset id="fs-frm-inputs">
    <div class="name">
    <input type="text" name="name" id="full-name" placeholder="Nom" required="">
    </div>
    </br>
    <div class="email">
    <input type="email" name="_replyto" id="email" placeholder="Email" required="">
    </div>
    </br>
    <div class="telephone">
    <input type="telephone" name="telephone" id="telephone" placeholder="Téléphone">
    </div>
    </br>
    <div class="demande">
    <textarea rows="6" name="complaint" id="complaint" placeholder="Votre message" required=""></textarea>
    </div>
    </br>

    <input type="hidden" name="_subject" id="email-subject" value="Complaint Form Submission">
  </fieldset>
  <div class="btn">
  <input type="submit" value="Envoyez votre demande">
  </div>
</form>


</div>
</div>

